body {
  margin: 0;
  color: #40514e;
  /* background-color: #e8f6ef; */
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}

.top-container {
  background-color: #e8f6ef;
  position: relative;
  padding-top: 50px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 40px 0 20px; /* to get rid of the bottom margin at the end of the page*/
}

hr {
  border-style: none; /* border-style:inset default browser css settings */
  border-top-style: dotted;
  border-color: #eaf6f6;
  border-width: 4px; /* size of the dots */
  width: 3%; /* width of horizontal bar on the page*/
  margin: 100px auto;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-weight: bold;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  /* padding-top: 0px; */
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

.intro {
  width: 30%;
  margin: auto;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 310px;
  /* bottom: 20px; */
}

.bottom-cloud {
  position: absolute;
  left: 180px;
}

/* .img {
  width: 200px;
  border-radius: 50%;
} */

#pa {
  margin-bottom: 60px;
}

#head {
  color: #40514e;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaeaf6;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.img1 {
  width: 30%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.img2 {
  width: 30%;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}

.contact-me {
  width: 40%;
  margin: 40px auto 100px;
}

.copyright {
  color: #eaeaf6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 100px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
